<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">The Stepping Stone</a>
  
    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav">
       
          <a class="nav-item nav-link" routerLink="/">Home</a>
        
       
          <a class="nav-item nav-link" routerLink="/about">About</a>
        
       
          <a class="nav-item nav-link" routerLink="/contact">Contact</a>
          <a class="nav-item nav-link" routerLink="/fileupload">File-Upload</a>
          <ng-template [ngIf]="_login.isLogged_In()" [ngIfElse]="notLoggedIn">
            <a class="nav-item nav-link" routerLink="/profile">Profile</a>
            <a class="nav-item nav-link" href="#" (click)="_login.logout()">Logout</a>
          </ng-template>
          <ng-template #notLoggedIn>
            <a class="nav-item nav-link" routerLink="/login">Login</a>
            <a class="nav-item nav-link"  routerLink="/signup">Signup</a>
          </ng-template>  
        
          <a class="nav-item nav-link" routerLink="/service-page">Service Page</a>
        
       
          
         
          


        
      </ul>
    </div>
  </nav>
