<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
           
           <h2> practise of template variable</h2>
           <br/>
           <br/>
           <br/>
           <br/>
           
           <button  class ="btn btn-primary" (click)="demo(para)" > okkKK </button>
        </div>
        <h4 #para>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat similique esse asperiores aperiam iure praesentium cumque quo, culpa quibusdam deserunt qui exercitationem totam molestias provident obcaecati eaque deleniti labore Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus iusto reiciendis, sed consequuntur ea quo reprehenderit. Eius, atque, perspiciatis rerum maiores soluta molestias facilis laboriosam asperiores debitis enim cum distinctio?</h4>
    </div>
</div>
