<app-seprator></app-seprator>
<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
           <form [formGroup]="loginFrm">
                <div class="card">
                    <div class="card-header">
                        <h5>User Login</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-grouo">
                            <label>Username/Email</label>
                            <input formControlName="username" [ngClass]="{'is-invalid' : checkFrm && loginFrm.controls.username.errors}"  class="form-control" />
                            <div class="invalid-feedback" *ngIf="checkFrm && loginFrm.controls.username.errors">Insert Your Email Id</div>
                        </div>
                        <div class="form-group">
                            <label>Password</label>
                            <input formControlName="password" [ngClass]="{'is-invalid' : checkFrm && loginFrm.controls.password.errors }" type="password" class="form-control" />
                            <div class="invalid-feedback" *ngIf="checkFrm && loginFrm.controls.password.errors">
                                Insert Your Password
                            </div>
                    </div>
                    <br />
                    <p class="text-danger text-center">{{ errMsg }}</p>

                    <div class="card-footer">
                        <input type="submit" (click)="submit()" value="login" class="btn btn-primary" />
                    
                    </div>
                
                
                </div>
            
          
           
        </div>
    </form>
</div>
</div>
</div>