<app-header></app-header>
<header class="masthead">
    <section class="page-section" id="app-home">
        <div class="container">
            <div class="text-center">
                <div class="masthead-subheading">Welcome To KK's Studio!</div>
                <div class="masthead-heading text-uppercase">It's Nice To Meet You</div>
                <a class="btn btn-primary btn-xl text-uppercase" href="#services">Tell Me More</a>    
            </div>
        </div>
    </section>  
</header>
 <app-footer></app-footer>