<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Teacher Page</h2>
            <div class="row">
                <!-- <p>{{ newTeacher | json }}</p> -->
                <div class="col-md-6 offset-md-3">
                    <h5>Add New Teacher</h5>
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="newTeacher.name" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <input [(ngModel)]="newTeacher.class" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Salary</label>
                        <input [(ngModel)]="newTeacher.salary" type="text" class="form-control" />
                    </div>
                    <button class="btn btn-success" (click)="add()">Add</button>
                    <div *ngIf="showMsg" class="alert alert-success mt-2">
                        Data Saved Successfully
                        <button class="close" data-dismiss="alert">x</button>
                    </div>
                </div>
            </div>
            <div class="row mt-4">
                <table class="table table-dark">
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Salary</th>
                    </tr>
                    <tr *ngFor="let t of allTeacher; let n = index">
                        <td>{{ n+1 }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.class }}</td>
                        <td>{{ t.salary }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>