.box{
    height: 200px;
    width: 200px;
    background-color: #0348AC;
}
.box2{
    height: 200px;
    width: 200px;
    background-color: #801456;
}
.box3{
    height: 200px;
    width: 200px;
    background-color: #ACD101;
}