<div class="row">
    <div class="col-md-6 offset-md-3">
        <br />
        <a href="/student/view" class="btn btn-info">List Student</a>
        <h2>Student Page</h2>
        <form action="/student/save" method="post">
            <div class="form-group">
                <label>Name</label>
                <input type="text" class="form-control" name="name" />
            </div>
            <div class="form-group">
                <label>Age</label>
                <input type="text" class="form-control" name="age" />
            </div>
            <div class="form-group">
                <label>Fee</label>
                <input type="text" class="form-control" name="fee" />
            </div>
            <br />
            <input type="submit" value="Add" class="btn btn-primary" />
        </form>
    </div>
</div>