<ul class="nav flex-column">
    <li class="nav-item">
      
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/resto/dash">Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/resto/add-category">Add Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/resto/view-category">View Category</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/resto/add-items">Add Items</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" routerLink="/resto/view-items">View Items</a>
    </li>
    
  </ul>