<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
        <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restoran</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
            <a routerLink="/" class="nav-item nav-link" routerLinkActive="active">Home</a>

            <ng-template [ngIf]="_auth.isLoggedIn()" [ngIfElse]="notLoggedIn">
                <a routerLink="/profile" class="nav-item nav-link">Profile</a>
                <a (click)="_auth.logout()" href="#" class="nav-item nav-link">Logout</a>
            </ng-template>
            <ng-template #notLoggedIn>
                <a routerLink="/signup" class="nav-item nav-link">Signup</a>
                <a routerLink="/login" class="nav-item nav-link">Login</a>
            </ng-template>

            


            <a routerLink="/about" class="nav-item nav-link"  routerLinkActive="active">About</a>
            
            <a href="menu.html" class="nav-item nav-link">Menu</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">For Restaurent</a>

                <div class="dropdown-menu m-0">
                    
                    <a routerLink="/resto/login" class="dropdown-item">Login</a>
                    <a routerLink="/resto/signup" class="dropdown-item">Signup</a>
                </div>
            </div>
            
        </div>
        <a href="" class="btn btn-primary py-2 px-4">Book A Table</a>
    </div>
</nav>
