<app-seprator></app-seprator>
<div class="container" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <form [formGroup]="signupFrm">
                <div class="card">
                    <div class="card-header">
                        <h5>User Registration</h5>
                    </div>
                    <div class="card-body">
                        <div class="form-group">
                            <label>Full Name</label>
                            <input type="text" formControlName="fullname" class="form-control"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.fullname.errors}" />
                            <div *ngIf="checkform && signupFrm.controls.fullname.errors" class="invalid-feedback">Insert
                                Your Full Name</div>
                        </div>

                        <div class="form-group">
                            <label>User Name/Email</label>
                            <input type="text" formControlName="email"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.email.errors}"
                                class="form-control" />
                            <div *ngif="checkform && signupFrm.controls.email.errors" class="invalid-feedback">
                                <div *ngif="checkform && signupFrm.controls.email.errors.email">Email Is not Corrcet
                                </div>
                                <div *ngif="checkform && signupFrm.controls.email.errors.required">Insert Your Email
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>Password</label>
                            <input type="password" formControlName="password"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.password.errors}"
                                class="form-control" />
                            <div *ngif="checkform && signupFrm.controls.password.errors" class="invalid-feedback">Insert
                                Your Password</div>
                        </div>

                        <div class="form-group">
                            <label>Re-password</label>
                            <input type="password" formControlName="re_password"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.re_password.errors}"
                                class="form-control" />
                            <div *ngif="checkform && signupFrm.controls.re_password.errors" class="invalid-feedback">
                            </div>
                            <div *ngif="signupFrm.controls.re_password.errors.required">Insert Re-password</div>
                            <div *ngif="signupFrm.controls.re_password.errors.rePassErr">password and re-password not
                                match</div>
                        </div>
                    
                        <div class="form-group">
                            <label>Address</label>
                            <textarea class="form-control" formControlName="address"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.address.errors }"></textarea>
                            <div *ngIf="checkform && signupFrm.controls.address.errors" class="invalid-feedback">Insert Your
                                Address</div>
                        </div>

                        <div class="form-group">
                            <label>Gender</label>
                            <br />
                            Male<input type="radio" value="male" formControlName="gender"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.gender.errors}" />
                            Female<input type="radio" value="female" formControlName="gender"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.gender.errors}" />
                            <div *ngIf="checkform && signupFrm.controls.gender.errors" class="invalid-feedback">
                                Select Your Gender</div>
                        </div>

                        <div class="form-group">
                            <label>City</label>
                            <select class="form-control" formControlName="city"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.city.errors}">
                                <option value="select">Select</option>
                                <option *ngif="let c of all city" value="{{ c.name }}"></option>
                            </select>
                            <div *ngif="checkform && signupFrm.controls.city.errors" class="invalid-feedback">Select Your
                                City</div>
                        </div>

                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" class="form-control" formControlName="contact"
                                [ngClass]="{'is-invalid' : checkform && signupFrm.controls.contact.errors }" />
                            <div *ngIf="checkform && signupFrm.controls.contact.errors" class="invalid-feedback">
                                <div *ngIf="checkform && signupFrm.controls.contact.errors.required">Insert Your Contact
                                    Number</div>
                                <div *ngIf="checkform && signupFrm.controls.contact.errors.numErr">Insert Number Only</div>
                                <div *ngIf="checkform && signupFrm.controls.contact.errors.sizeErr">Inser 10 Number</div>
                            </div>
                        </div>

                    </div>

                        <div class="card-footer">
                            <button class="btn btn-primary" (click)="signup()">signup</button>
                        </div>
                    </div>
                </form>