<html>
    <head>
        <style>
            body{
                background-color: blueviolet;
            }
        </style>

    </head>
<body>
    <h1>About Page</h1>
    <h3><%= c1 %></h3>
    <h3><%= c2 %></h3>
    <h3><%= c3 %></h3>

</body>
</html>