<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <app-h1 [data]="'indore'"></app-h1>
            <div class="box" (contextmenu)="demo10()"></div>
            <h1>hello</h1>
            <input type="text" (keypress)="demo1()" (keyup)="demo2()"/>
            <Br />
            <Br />
            <input type="text" />
            <Br />
            <Br />
            <input type="file" (change)="demo6()"/>
            <Br />
            <Br />
            <input type="text" (focus)="demo3()" (blur)="demo4()" />
            <Br />
            <Br />
            <input type="text" />
            <Br />
            <Br />
            <select (change)="demo5()">
                <option>Select</option>
                <option>Indore</option>
                <option>Mumbai</option>
                <option>Pune</option>
            </select>
        </div>
    </div>
</div>
