<div class="container mt-4" id="container">
	<div class="form-container sign-up-container">
		<form action="#">
			<h1>Create Account</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-facebook-f"></i></a>
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-linkedin-in"></i></a>
			</div>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="#">
			<h1>Login</h1>
            <br />
			<input type="email" placeholder="Username" />
			<input type="password" placeholder="Password" />
			<a href="#">Forgot your password?</a>
			<button>Sign In</button>
		</form>
	</div>
	<div class="overlay-container">
        <div class="overlay">
            <div class="overlay-panel overlay-right">
                <img src="assets/img/log2.png" style="height: 100px; width: 100px;">
                <h1>Hello, Ritesh</h1>
				<p>Enter your personal details and start journey with us</p>
			</div>
		</div>
	</div>
</div>
<br />
<br />
<div class="row">
	<div class="col-md-6 offset-md-3">
		<a href="https://wa.me/8962942572?text=Pay Remaing Fees" class="btn btn-success">Send Whatsapp Message</a>
	</div>
</div>