<div class="container">
    <h1>DOM Event in Angular</h1>
    <button class="btn btn-primary" (click)="count()" (dblclick)="Welcome">click here</button>
    <h3>{{ counter }}</h3>
    <div (mouseover)="demo()" (mouseout)="demo1()" style="height : 100px; width: {{w}}px; background-color: brown;"></div>
</div>
<br>
<br>
<div class="container">
    <div (mousemove)="demo2()" style="height: {{h}}px; width: {{w}}px; background-color: darkgreen;"></div>
</div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="box" (contextmenu)="demo10()"></div>
    </div>
    </div>
</div>