<div class="container">
    <app-h1 [data]="'rohit'"></app-h1>
    <h1>DOM Event in Angular</h1>
    <button class="btn btn-primary" (click)="count()" (dblclick)="welcome()">Click Here</button>
    <h3>{{ counter }}</h3>
    <!-- <div (mouseover)="demo1()" (mouseout)="demo2()" style="height: 100px; width: {{w}}px; background-color: #124578;"></div> -->
    <div (mousemove)="demo3()"  style="height: {{h}}px; width: {{w}}px; background-color: #124578;"></div>


    <ng-template [ngIf]="x==false" [ngIfElse]="box">
        <h1>Hello World</h1>
    </ng-template>
    <ng-template #box>
        <h2>The Stepping Stone</h2>
    </ng-template>
</div>