<div class="row">
    <div class="col-md-6 offset-md-3">
        <h2>Student Page</h2>
        <form action="/student/save" method="post">
       <div class="form-group">
           <label>Name</label>
           <input type="text" class="form-contorl" name="name"/>

           <div class="form-group">
            <label>Age</label>
            <input type="text" class="form-contorl" name="age"/>

            <div class="form-group">
            <label>Fee</label>
            <input type="text" class="form-contorl" name="fee"/>
            <br/>
            <input type="submit" value="Add" class="btn btn-danger"/>
        </form>
       </div>
    </div>
</div>