<div class="container" style="min-height: 500px;">
    <h2>Contact Page</h2>
    <br />
    <br />
    <h3>{{ a }}</h3>
    <p>{{ color[2] }}</p>
    <p>{{ obj.name }}</p>

    <br />
    <button class="btn btn-danger" (click)="test()">OKKK</button>
    <br />
    <br />
    <br />
    <button class="btn btn-success" (click)="demo()">OK</button>
    <br />
    <br />
    <button class="btn btn-danger" (dblclick)="demo1()">OK</button>
</div>
<div class="container mt-4" style="min-height: 500px;">
    <div class="row">
        <div class="col-md-12">
            <h1>Hello</h1>
            <input type="text" />
        </div>
    </div>
</div>
