body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.top-header{
    width: 100%;
    height: 40px;
    background-color: #000;
    margin: 0;
}
.wrapper{
    width: 910px;
    margin: 0 auto;
}
.top-header ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
.top-header ul li{
    float: left;
}
.top-header ul li a{
    font-size: 15px;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 11px 30px;
}
.top-header ul li a:hover{
    color: cornflowerblue;
}
.slider-bar{
    /* background-color: blue; */
    height: 450px;
    width: 100%;
}
img {
  max-width: 100%;
  height: auto;
}
.content{
    min-height: 900px;
    height: auto;
    overflow: hidden;
    background-color: darkred;
}
.box-1{
    height: 410px;
    width: 910px;
    /* background-color: darkred; */
}
.box-2{
    margin: 20px 20px 20px 0;
    height: 600px;
    width: 910px;
    /* border: 2px solid black; */
}
.box-1 h3{
    background-color: darkgray;
    padding: 10px;
}
.box-2 h3{
    background-color: darkgray;
    padding: 10px;
}

.box-img-1{
    margin: 10px;
    float: left;
    height: 100PX;
    width: 187px;
    /* background-color: darkorchid; */
    padding: 10px;
}
.box-img-2{
    margin: 0;
    float: left;
    height: 128PX;
    width: 263px;
    /* background-color: darkorchid; */
    padding: 10px;
    border: 1px solid black;
}
.footer{
    height: 250px;
    width: 100%;
    background-color: darkseagreen;
}