<div class="row">
    <h2>Onlie Help Page</h2>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ratione consequuntur magnam accusantium atque. Unde
        eius eos, laboriosam aut expedita, perferendis vel autem quaerat ipsa porro possimus reprehenderit architecto et
        nihil!</p>

</div>