<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-4 px-lg-5 py-3 py-lg-0">
    <a href="" class="navbar-brand p-0">
        <h1 class="text-primary m-0"><i class="fa fa-utensils me-3"></i>Restorant</h1>
        <!-- <img src="img/logo.png" alt="Logo"> -->
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
        <span class="fa fa-bars"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav ms-auto py-0 pe-4">
            <a routerLink="/" class="nav-item nav-link">Home</a>

            <ng-template [ngIf]="_auth.isLoggedIn()" [ngIfElse]="notLoggedIn">
                
            <a routerLink="/profile" class="nav-item nav-link">Profile</a>
            <a (click)="_auth.logout()" href="#" class="nav-item nav-link">Logout</a>
            </ng-template>
            <ng-template #notLoggedIn>
            <a routerLink="/signup" class="nav-item nav-link">signup</a>
            <a routerLink="/login" class="nav-item nav-link">Login</a>
            </ng-template>

                      
            <a routerLink="/about" class="nav-item nav-link">About</a>            
            <a routerLink="/contact" class="nav-item nav-link">Contact</a>
            <a href="menu.html" class="nav-item nav-link">Menu</a>
            <div class="nav-item dropdown">
                <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Restaurant</a>

                <div class="dropdown-menu m-0">
                    <ng-template [ngif]="_restoauth.isRestoLoggedIn()" [ngIfElase]="restoNotLoggedIn">
                        <a routetLink="/resto/dash"
                    </ng-template>
                    
                    <a routerLink="/resto/signup" class="dropdown-item">Signup</a>
                    <a routerLink="/resto/login" class="dropdown-item">Login</a>
                </div>
            </div>
            
        </div>
        
    </div>
</nav>


