<div class="container mt-4" style="min-height: 500px;">
    <div class="row">
        <div class="colmd-12">
            <h2>File Upload</h2>
            <br />
            <br />
            Select File <input type="file" #file />
            <br />
            <br />
            <button class="btn btn-primary" (click)="upload(file)">Upload</button>
            <br />
            <br />
            <div class="row">
                <div *ngFor=" let i of allImg" class="col-md-3">
                     <img src="{{ i.imagepath }}" height="200" />
                </div>
            </div>
        </div>
    </div>
</div>
