<nav class="navbar navbar-expand-sm navbar-light">
    <a routerLink="/" class="navbar-brand"><h1>The Page</h1></a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#menu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="menu">
        <ul class="navbar nav">
            <li class="nav-item"><a routerLink="/" class="nav-link">Home</a></li>
        </ul>
    </div>
    <a routerLink="/login" class="btn btn-warning align-right mx-2">login</a>
    <a routerLink="/admin" class="btn btn-danger align-right mx-2">Admin</a>
</nav>
