<div class="container">
    <h1>About Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab veritatis voluptatum, nobis beatae odit, animi adipisci libero quibusdam blanditiis accusamus nam, ipsa molestias sequi ipsam dignissimos omnis facilis molestiae esse!</p>
</div>