<div class="row">
    <div class="col-md-12">
        <h2>Help Page</h2>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Expedita, iusto! Nam, sapiente delectus enim praesentium magnam error necessitatibus aliquam quia rem temporibus, minima atque maiores, ducimus corporis nulla dicta velit!</p>
    </div>
</div>