<div class="row">
    <div class="col-md-12">
        <h2>Info Page</h2>
    <p>Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus eos quod illo sed possimus veniam exercitationem tempora consequatur vero eaque corporis perferendis, error, voluptatibus animi. Tempora dolorem repudiandae quod aspernatur! ipsum dolor sit amet consectetur, adipisicing elit. Expedita, iusto! Nam, sapiente delectus enim praesentium magnam error necessitatibus aliquam quia rem temporibus, minima atque maiores, ducimus corporis nulla dicta velit!</p>
    </div>
</div>