<div class="container mt-4">
    <div class="row">
        <div class="col-md-12">
            <h2>Teacher Page</h2>
            <div class="row">
                <!-- <p>{{ newTeacher | json }}</p> -->
                <div class="col-md-6 offset-md-3">
                    <h5>Add New Teacher</h5>
                    <div class="form-group">
                        <label>Name</label>
                        <input [(ngModel)]="newTeacher.name" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Class</label>
                        <input [(ngModel)]="newTeacher.class" type="text" class="form-control" />
                    </div>
                    <div class="form-group">
                        <label>Salary</label>
                        <input [(ngModel)]="newTeacher.salary" type="text" class="form-control" />
                    </div>
                    <br />
                    <button class="btn btn-primary" (click)="add()">Add</button>
                    <div *ngIf="showMsg" class="alert alert-success mt-2">
                        Data Saved Successfully
                        <button class="close" data-dismiss="alert">x</button>
                    </div>
                </div>
            </div>
            <!-- return x.toLowerCase().includes(searchText); -->
            <div class="row mt-4">
                <div class="col-md-8 offset-md-2">
                    <!-- <p>{{ searchTxt }}</p> -->
                <input type="text" [(ngModel)]="searchTxt" class="form-control" placeholder="Search Teacher Name"/>
                <Br />
                <table class="table table-dark">
                    <tr>
                        <th>S.No.</th>
                        <th>Name</th>
                        <th>Class</th>
                        <th>Salary</th>
                        <th>Bonus</th>
                    </tr>
                    <tr *ngFor="let t of allTeacher | search : searchTxt">
                        <td>{{ 1 }}</td>
                        <td>{{ t.name }}</td>
                        <td>{{ t.class }}</td>
                        <td>{{ t.salary }}</td>
                        <td>{{ t.salary | bonus : t.class | currency : '&#8377;'}}</td>
                    </tr>
                </table>
                </div>
            </div>

        </div>
    </div>
</div>
